body {
  background-color: #EFEFEF;
}

div#body {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 10rem #aaa;
}
@media(min-width: 500px) {
  div#body {
    width: 80%;
  }
}

div.section {
  padding: 2rem;
}
@media(min-width: 500px) {
  div.section {
    padding: 4rem;
  }
}

div.section-title {
  width: 100%;
  text-align: left;
  font-size: 3rem;

  padding: 0;
  padding-bottom: 2rem;
}

div#videos {
  text-align: center;

  div#ycp {
    .play {
      text-align: left;
    }
    .thumb,
    span[class^="mute by"],
    .play > br {
      display: none;
    }
  }
}

