div.section {
  padding: 4rem;
}

div.section-title {
  width: 100%;
  text-align: left;
  font-size: 3rem;

  padding: 0;
  padding-bottom: 2rem;
}

div#videos {
  text-align: center;
  iframe {
    width: 80%;
  }
}

@media(min-width: 600px) {
  div#videos iframe {
    width: 500px;
    height: 280px;
  }
}

@media(min-width: 1000px) {
  div#videos iframe {
    width: 700px;
    height: 400px;
  }
}
